
body {
    color:white;
    background-color:#151515;
}

a {
    color:darkcyan;
}

.welcome {
    font-family:monospace;
    text-align: center;
    font-size: 300%;
}

.btn {
    display: block;
    margin: auto;
}

footer {
    text-align: center;
}